.footer {
    background-color: var(--color-blue);
    padding: 10rem 2rem;
    color: #fff;
    font-size: 1.8rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    

    &__section {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr 1fr;
        align-items: center;
        justify-content: center;
        grid-row: 1 / 4;
    }

    &__title {
        font-size: 3.6rem;
        font-weight: 900;
    }

    &__title span {
        color: var(--color-black);
        font-weight: 400;
        font-size: 3.2rem;
    }

    &__address-title {
        justify-self: center;
    }
    
}