.header {
    width: 100vw;
    height: 100vh;
    background-image: url(../../pictures/y-so-serious-white.png);
    background-size: auto;
    background-repeat: repeat;
    //padding: 5rem;
    
}



    
