/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

:root {
  --color-grey: #b2aeae;
  --color-blue: #2c9bda;
  --color-black: #000000;
  --color-white: #ffffff; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html,
body {
  min-height: 100%;
  overflow-x: hidden; }

html {
  box-sizing: border-box;
  min-height: 100%;
  font-size: 62.5%;
  color: var(--color-black); }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

.welcome-page {
  box-sizing: border-box;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: lato;
  font-weight: 400;
  background-color: var(--color-grey-light-1); }

.dashboard-page {
  box-sizing: border-box;
  padding: 2rem 3rem;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Merriweather Sans', sans-serif;
  background-color: var(--color-blue-light-2); }

.section-title {
  font-size: 3.6rem;
  letter-spacing: .3rem;
  text-transform: uppercase;
  color: var(--color-blue-dark-1);
  padding: 5rem 0;
  text-align: center; }

.heading-primary {
  color: var(--color-blue-dark-1);
  text-align: left; }
  .heading-primary__main {
    font-size: 9.6rem;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.1;
    letter-spacing: .4rem;
    display: block;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
    @media only screen and (max-width: 56.25em) {
      .heading-primary__main {
        font-size: 6rem;
        text-align: center; } }
  .heading-primary__main::first-letter {
    color: var(--color-blue); }
    @media only screen and (max-width: 56.25em) {
      .heading-primary__main::first-letter {
        color: var(--color-black); } }

.heading-secondary {
  font-size: 3.6rem;
  font-weight: 400; }
  @media only screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 2rem;
      text-align: center; } }

.heading2 {
  font-size: 7.2rem;
  font-weight: 700; }
  @media only screen and (max-width: 56.25em) {
    .heading2 {
      font-size: 3.6rem;
      text-align: center; } }

.heading4 {
  font-size: 2.4rem;
  font-weight: 700; }

.subheading {
  font-size: 3.6rem;
  font-weight: 400; }
  @media only screen and (max-width: 56.25em) {
    .subheading {
      font-size: 2rem;
      text-align: center; } }

.paragraph {
  font-size: 2rem;
  font-weight: 300; }
  @media only screen and (max-width: 56.25em) {
    .paragraph {
      font-size: 1.6rem;
      word-wrap: break-word;
      line-height: 200%;
      font-weight: 400; } }

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 3rem 7.2rem 7.2rem 7.2rem;
  background-color: var(--color-blue);
  border-radius: 1rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  width: 100%; }
  @media only screen and (max-width: 56.25em) {
    .login-container {
      width: 100vw; } }
  .login-container__icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 3rem; }
  .login-container__icon {
    height: 4rem;
    width: 4rem;
    fill: var(--color-white); }
    @media only screen and (max-width: 56.25em) {
      .login-container__icon {
        height: 2rem;
        width: 2rem; } }
  .login-container__text {
    margin-left: 2rem;
    font-size: 3.6rem;
    color: var(--color-white); }
    @media only screen and (max-width: 56.25em) {
      .login-container__text {
        font-size: 3rem; } }

.login-form {
  display: flex;
  flex-direction: column; }
  .login-form__input {
    width: 90%;
    height: 6.9rem;
    border-radius: 1rem;
    border: none;
    margin: 2rem;
    font: inherit;
    font-size: 3.6rem;
    font-weight: 300;
    padding: 1rem 0 1rem 1rem; }
    .login-form__input:focus {
      outline: none;
      background-color: var(--color-grey);
      color: var(--color-white); }
    @media only screen and (max-width: 56.25em) {
      .login-form__input {
        width: 75vw;
        font-size: 2rem;
        height: 5rem; } }
  .login-form__submit {
    width: 20.4rem;
    height: 5.469rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    border-radius: 2.5rem;
    border: none;
    font: inherit;
    font-weight: 300;
    font-size: 3.6rem;
    background-color: var(--color-white);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); }
    .login-form__submit:active, .login-form__submit:focus, .login-form__submit:hover {
      outline: none;
      color: var(--color-blue);
      background-color: var(--color-white);
      transform: scale(0.95) translateY(5px); }
    @media only screen and (max-width: 56.25em) {
      .login-form__submit {
        font-size: 2rem;
        font-weight: 700;
        width: 25vw;
        height: 4rem; } }

.signUp-form {
  width: 75%;
  min-height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }
  .signUp-form__input {
    width: 70%;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-family: inherit;
    border: none;
    border-radius: 5px;
    border-bottom: 3px solid transparent; }
  .signUp-form__submit {
    text-transform: uppercase;
    padding: 1.5rem 6rem;
    margin-bottom: 1rem;
    font-family: inherit;
    font-size: 1.5rem;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10rem;
    background-color: var(--color-red);
    transition: all .2s; }
    .signUp-form__submit:hover {
      transform: translateY(-2px);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .signUp-form__submit:active, .signUp-form__submit:focus {
      outline: none;
      transform: translateY(1px);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.about {
  min-height: 100vh;
  padding: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  @media only screen and (max-width: 56.25em) {
    .about {
      min-height: 50vh;
      flex-direction: column;
      width: 100vw;
      justify-content: start; } }
  .about__left-side {
    word-wrap: break-word;
    width: 40%; }
    @media only screen and (max-width: 56.25em) {
      .about__left-side {
        width: 100vw;
        word-break: normal;
        margin-top: 2rem;
        padding: 0 5rem; } }
    @media only screen and (max-width: 37.5em) {
      .about__left-side {
        margin-top: 5rem; } }
  .about__heading {
    color: var(--color-blue);
    margin-bottom: 2rem; }
  .about__subheading {
    color: var(--color-grey);
    margin-bottom: 6rem; }
  .about__right-side {
    padding: 5rem 0 5rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    word-wrap: break-word;
    width: 40%; }
    @media only screen and (max-width: 56.25em) {
      .about__right-side {
        display: flex;
        flex-direction: column;
        width: 100vw;
        word-wrap: normal;
        padding: 0 5rem; } }
  .about__dog-img, .about__cat-img {
    grid-row: 1; }
  .about__dog-img {
    max-width: 34.7rem;
    max-height: 47rem;
    grid-column: 2 / span 2; }
    @media only screen and (max-width: 56.25em) {
      .about__dog-img {
        margin: 0 auto 0 auto;
        max-width: 24rem; } }
  .about__cat-img {
    max-width: 26rem;
    grid-column: 1/ span 2;
    align-self: end;
    padding-top: 22rem;
    z-index: 1; }
    @media only screen and (max-width: 56.25em) {
      .about__cat-img {
        display: none; } }
  .about__text2 {
    grid-row: 2;
    grid-column: 1/ span 3;
    align-self: end;
    padding-top: 2rem; }

.contact {
  min-height: 100vh;
  width: 100vw;
  background-color: var(--color-blue);
  display: flex;
  flex-direction: column;
  justify-content: center; }
  @media only screen and (max-width: 56.25em) {
    .contact {
      padding-top: 5rem;
      justify-content: start;
      min-height: 50vh; } }
  .contact__title {
    text-align: center;
    color: var(--color-white);
    margin-bottom: 3rem; }
  .contact__email-form {
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media only screen and (max-width: 56.25em) {
      .contact__email-form {
        height: 90%;
        justify-content: start;
        margin-top: 5rem;
        margin-bottom: 5rem; } }
  .contact__input, .contact__message {
    width: 40%;
    font-size: 3.6rem;
    border-radius: 1rem;
    border: none;
    margin-bottom: 3rem;
    padding-left: 1rem; }
    .contact__input:focus, .contact__message:focus {
      outline: none;
      background-color: var(--color-grey);
      color: var(--color-white); }
    @media only screen and (max-width: 56.25em) {
      .contact__input, .contact__message {
        font-size: 2rem;
        width: 75%; } }
  .contact__input {
    height: 9rem; }
    @media only screen and (max-width: 56.25em) {
      .contact__input {
        height: 5rem; } }
  .contact__message {
    font: inherit;
    font-size: 3.6rem;
    height: 31.8rem; }
    @media only screen and (max-width: 56.25em) {
      .contact__message {
        font-size: 2rem;
        font-weight: 700; } }
  .contact__submit {
    min-width: 25%;
    height: 5.469rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2.5rem;
    border: none;
    font: inherit;
    font-weight: 400;
    font-size: 3.6rem;
    background-color: var(--color-white);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); }
    .contact__submit:active, .contact__submit:focus, .contact__submit:hover {
      outline: none;
      color: var(--color-blue);
      background-color: var(--color-white);
      transform: scale(0.95) translateY(5px); }
    @media only screen and (max-width: 56.25em) {
      .contact__submit {
        font-size: 2rem;
        padding: 0 1rem; } }

.faq {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; }
  @media only screen and (max-width: 56.25em) {
    .faq {
      min-height: 50vh; } }
  .faq__title {
    margin-bottom: 2rem; }
  .faq__container {
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1.5rem; }
  .faq__accordian {
    border: 1px solid var(--color-black);
    border-radius: .5rem;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    font-size: 2rem;
    margin-bottom: 2rem;
    padding: 3rem; }
    @media only screen and (max-width: 37.5em) {
      .faq__accordian {
        font-size: 1.8rem;
        padding: 3rem 1rem; } }
  .faq__question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; }
  .faq__input {
    display: none; }
  .faq__label {
    cursor: pointer; }
    @media only screen and (max-width: 37.5em) {
      .faq__label {
        width: 50%; } }
  .faq__remove-outline, .faq__add-outline {
    color: var(--color-blue); }
  .faq__remove-outline {
    display: none; }
  .faq__answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height .2s ease-in-out; }
  .faq__input:checked + .faq__label {
    color: var(--color-blue); }
  .faq__question > .faq__input:checked ~ .faq__answer {
    margin-top: 2rem;
    max-height: 50vh; }
  .faq__input:checked ~ .faq__add-outline {
    display: none; }
  .faq__input:checked ~ .faq__remove-outline {
    display: inline; }

.footer {
  background-color: var(--color-blue);
  padding: 4rem 2rem;
  color: #fff;
  font-size: 1.8rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr); }
  @media only screen and (max-width: 56.25em) {
    .footer {
      display: flex;
      flex-direction: column; } }
  .footer__section {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    grid-row: 1 / 4; }
    @media only screen and (max-width: 56.25em) {
      .footer__section {
        display: flex;
        flex-direction: column;
        padding: 2rem 0; } }
  .footer__title {
    font-size: 3.6rem;
    font-weight: 900; }
  .footer__title span {
    color: var(--color-black);
    font-weight: 400;
    font-size: 3.2rem; }
  @media only screen and (max-width: 56.25em) {
    .footer__address-title, .footer__follow-title, .footer__legal-title {
      margin-bottom: 1rem; } }
  .footer__address-title {
    justify-self: center; }

.header {
  width: 100vw;
  height: 100vh;
  background-image: url(../../pictures/y-so-serious-white.png);
  background-size: auto;
  background-repeat: repeat; }

.hero {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around; }
  @media only screen and (max-width: 56.25em) {
    .hero {
      margin-top: 12rem;
      flex-direction: column;
      align-items: center;
      justify-content: space-around; } }

.left-side {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.cta {
  width: 100%;
  margin-top: 2rem; }
  .cta__search-btn {
    display: block;
    text-decoration: none;
    text-align: center;
    color: var(--color-white);
    background-color: var(--color-blue);
    width: 20.4rem;
    height: 5.469rem;
    border-radius: 2.5rem;
    font: inherit;
    font-weight: 300;
    font-size: 2.4rem;
    padding: 1rem 2rem;
    margin-top: 2rem;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); }
    .cta__search-btn:active, .cta__search-btn:focus, .cta__search-btn:hover {
      outline: none;
      color: var(--color-blue);
      background-color: var(--color-white);
      transform: scale(0.95) translateY(5px); }
    @media only screen and (max-width: 56.25em) {
      .cta__search-btn {
        height: auto;
        margin: 2rem auto 2rem auto;
        padding: 1rem 1rem;
        font-size: 1.8rem; } }

.right-side {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  @media only screen and (max-width: 56.25em) {
    .right-side {
      margin-bottom: 5rem; } }

.navigation {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  z-index: 100;
  background-image: url(../../pictures/y-so-serious-white.png);
  background-size: auto;
  background-repeat: repeat;
  padding: 2rem 0 2rem 0; }
  .navigation__logo-text {
    text-decoration: none;
    font-size: 6.4rem;
    font-weight: 900;
    color: var(--color-blue);
    display: inline-block;
    transition: all .2s ease-in; }
    .navigation__logo-text:focus, .navigation__logo-text:hover {
      outline: 3px solid var(--color-blue);
      transform: translateY(4px); }
    @media only screen and (max-width: 56.25em) {
      .navigation__logo-text {
        font-size: 3.4rem; } }
  .navigation__logo-text2 {
    font-size: 4.8rem;
    font-weight: 700;
    color: var(--color-black); }
    @media only screen and (max-width: 56.25em) {
      .navigation__logo-text2 {
        font-size: 2.2rem; } }
  .navigation__hamburger {
    display: none;
    position: relative; }
    @media only screen and (max-width: 75em) {
      .navigation__hamburger {
        display: block; } }
  .navigation__hamburger, .navigation__hamburger::before, .navigation__hamburger::after {
    width: 2em;
    height: 3px;
    background: var(--color-black);
    transition: all .2s ease-in-out; }
  .navigation__hamburger::before, .navigation__hamburger::after {
    content: "";
    position: absolute;
    left: 0; }
  .navigation__hamburger::before {
    bottom: 6px; }
  .navigation__hamburger::after {
    top: 6px; }
  .navigation__toggle {
    display: none; }
  .navigation__list {
    display: flex;
    margin-bottom: 0;
    justify-content: space-around;
    list-style: none; }
    @media only screen and (max-width: 75em) {
      .navigation__list {
        display: none; } }
  @media only screen and (max-width: 75em) {
    .navigation__toggle:checked + .navigation__label > .navigation__hamburger {
      transform: rotate(45deg); }
      .navigation__toggle:checked + .navigation__label > .navigation__hamburger::after {
        top: 0px; }
      .navigation__toggle:checked + .navigation__label > .navigation__hamburger::before {
        transform: rotate(-90deg);
        bottom: 0px; } }
  @media only screen and (max-width: 75em) {
    .navigation__toggle:checked ~ .navigation__list {
      margin-top: 2rem;
      display: flex;
      flex-basis: 100%;
      align-items: center;
      flex-direction: column; } }
  .navigation__item {
    padding: 1rem; }
  .navigation__item:not(:last-child) {
    margin-right: 3rem; }
    @media only screen and (max-width: 75em) {
      .navigation__item:not(:last-child) {
        margin-right: 0; } }
  .navigation__link {
    color: var(--color-black);
    text-decoration: none;
    font-size: 2.4rem;
    font-weight: 300;
    display: inline-block;
    transition: all .2s ease-in; }
    .navigation__link:hover, .navigation__link:focus {
      outline: none;
      transform: scale(1.2);
      text-decoration: underline;
      color: var(--color-blue); }
  .navigation__signup, .navigation__dashboard {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: var(--color-white);
    background-color: var(--color-blue);
    width: 20.4rem;
    height: 5.469rem;
    border-radius: 2.5rem;
    font: inherit;
    font-weight: 300;
    font-size: 2.4rem;
    padding: 1rem 2rem;
    margin-top: 2rem;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); }
    .navigation__signup:active, .navigation__signup:focus, .navigation__signup:hover, .navigation__dashboard:active, .navigation__dashboard:focus, .navigation__dashboard:hover {
      outline: none;
      color: var(--color-blue);
      background-color: var(--color-white);
      transform: scale(0.95) translateY(5px); }
    @media only screen and (max-width: 75em) {
      .navigation__signup, .navigation__dashboard {
        display: none; } }
  @media only screen and (max-width: 75em) {
    .navigation__toggle:checked ~ .navigation__signup, .navigation__dashboard {
      display: inline-block; } }

.registration-form {
  height: 100vh;
  padding-top: 11rem;
  padding-bottom: 2rem;
  display: grid;
  grid-template-columns: 1fr auto 1fr 1fr;
  grid-template-rows: repeat(12, auto);
  grid-column-gap: 1em;
  align-items: center;
  background-image: url(../../pictures/y-so-serious-white.png);
  background-size: auto;
  background-repeat: repeat;
  font-family: lato;
  font-size: 2rem; }
  .registration-form__placeholder {
    grid-column: 2 / 3; }
  .registration-form__input {
    font-family: lato;
    font-size: 2rem; }
  .registration-form__submit {
    grid-row: 11;
    grid-column: 3/4;
    justify-self: center;
    font-family: lato;
    font-size: 2rem;
    width: 50%;
    height: 100%;
    border-radius: 2.5rem;
    border: none;
    font: inherit;
    font-weight: 300;
    font-size: 3.6rem;
    background-color: var(--color-white);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); }
