<div class="dashboard-page">
    <header class="dashboard-page__header">
        <%- include ("partials/nav") %> 
    </header>
    <div class="dashboard">
        <h1 class="dashboard__title">Welcome</h1>
        <button class="dashboard__logout" id="logout-bttn">Logout</button>
    </div>
    <%- include ("partials/footer") %> 
</div>




