.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 3rem 7.2rem 7.2rem 7.2rem;
    background-color: var(--color-blue);
    border-radius: 1rem;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    width: 100%;

    &__icon-container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 3rem;
    }

    &__icon {
        height: 4rem;
        width: 4rem;
        fill: var(--color-white);
    }

    &__text {
        margin-left: 2rem;
        font-size: 3.6rem;
        color: var(--color-white);
    }
}

.login-form {
    display: flex;
    flex-direction: column;

    &__input {
        width: 90%;
        height: 6.9rem;
        border-radius: 1rem;
        border: none;
        margin: 2rem;
        font: inherit;
        font-size: 3.6rem;
        font-weight: 300;
        padding: 1rem 0 1rem 1rem;
    }

    &__submit {
        width: 20.4rem;
        height: 5.469rem;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2rem;
        border-radius: 2.5rem;
        border: none;
        font: inherit;
        font-weight: 300;
        font-size: 3.6rem;
        background-color: var(--color-white);
        box-shadow: 1px 1px 2px rgba(0,0,0, 0.5);
        
    }
}

