<footer class="footer">
    <div class="footer__section">
        <h4 class="footer__title">Pet<span>Safe</span></h4>
        <p class="footer_copyright">&#169;2021 PetSafe All Rights Reserved</p>
    </div>
    <div class="footer__section">
        <h5 class="footer__address-title heading4">Address</h3>
        <p class="footer__address-text">1121 White Sage Drive<br> Reno NV 89506</p>
    </div>
    <div class="footer__section">
        <h5 class="footer__follow-title heading4">Follow</h5>
        <p class="footer__follow-instagram">Instagram</p>
        <p class="footer__follow-twitter">Twitter</p>
    </div>
    <div class="footer__section">
        <h5 class="footer__legal-title heading4">Legal</h5>
        <p class="footer__legal-terms">Terms</p>
        <p class="footer__legal-privacy">Privacy</p>
    </div>
    
    
</footer>