<div class="navigation">
    <div class="navigation__logo">
        <a href="/" class="navigation__logo-text">Pet<span class="navigation__logo-text2">Safe</span></a>
    </div>
    <input type="checkbox" class="navigation__toggle" id="toggle">
    <label for="toggle" class="navigation__label">
        <span class="navigation__hamburger"></span>
    </label>
    
    
    <ul class="navigation__list">
        <li class="navigation__item"><a href="/#about" class="navigation__link">About</a></li>
        <li class="navigation__item"><a href="/#contact" class="navigation__link">Contact</a></li>
        <li class="navigation__item"><a href="/#faq" class="navigation__link">FAQs</a></li>
        <li class="navigation__item"><a href="/dashboard" class="navigation__link">Dashboard</a></li>
    </ul>

        
        <% if (button == "logout") { %> <!-- button if on dashboard -->
            <a href="/users/logout" class="navigation__button" id="logout">Logout</a>
        <% }  else if (button == "login") { %> <!-- button if on register page -->
            <a href="/" class="navigation__button" id="login">Login</a>
        <% } else { %> <!-- button if on welcome page -->
            <a href="/register" class="navigation__button" id="register">Register</a>
        <% } %> 
</div>


